/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
html {
    background-color: #292b2c!important;
}

body {
    overflow-x: hidden;
    background-color: #292b2c;
    padding: 0 0 0 50px;
    font-family: "SansSerif", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
}

label {
    display: inline-block;
    float: left;
    clear: left;
    width: 150px;
    text-align: left;
    color: white;
}

input[type=submit] {
    float: left;
    clear: left;
    margin-left: 150px;
    color: white;
    background-color: #27ae60;
}

input[type=text] {
    display: inline-block;
    float: left;
}

a {
    color: white;
}

.title {
    color: white;
    font-size: x-large;
}

.success {
    display: inline-block;
    float: left;
    clear: left;
    text-align: left;
    color: white;
    font-size: x-large;
}

.message {
    display: inline-block;
    float: left;
    clear: left;
    text-align: left;
    color: white;
    font-size: large;
}
